.wrapper-header {
    height: calc(100vh - 60px); /* 100% of the viewport height */
    margin-top: 56px;
    display: flex;
}
.centered-video {
    width: calc((100vh - 60px) * 1.78);
    max-width: 100%; /* Ensure the video doesn't exceed its container's width */
    max-height: calc(100vh - 56px); /* Ensure the video doesn't exceed its container's height */
    margin: 0 auto; /* Center the video horizontally */
}
